<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HLQSeviceDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F0C87161D3F772900ED7340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F0C87321D3F772900ED7340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F0C873D1D3F772900ED7340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
